#card-div {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding-bottom: 1rem;
}

.show-hide {
    margin: 10px;
}

.table {
    width: 90%;
    margin: 0 30px;
}